<h1>Homepage</h1>
<div class="row">
<% for(var i=0; i<usuarios.length; i++) {%>
<div class="card" style="width: 20rem;">
  <div class="card-block">

    <h4 class="card-title"><%= usuarios[i].nombres %> - <%= usuarios[i].apellidos %> </h4>
    <p class="card-text">
      <%= usuarios[i].correo %>
    </p>
    <p class="card-text">
      <%= usuarios[i].password %>
    </p>
    <p class="card-text">
      <%= usuarios[i].fechaNacimiento %>
    </p>
    <form action="/Saludo/eliminarUsuario?id=<%=usuarios[i].id%>" method="post">
      <button  type="submit" class="btn btn-outline-danger">Borrar</button>
    </form>
  </div>


</div>
<% } %>
</div>


