<h1>Homepage</h1>
<div class="row">
<% for(var i=0; i<usuarios.length; i++) {%>
<div class="card" style="width: 20rem;">
  <div class="card-block">

    <h4 class="card-title"><%= usuarios[i].nombres %> - <%= usuarios[i].apellidos %> </h4>
    <p class="card-text">
      <%= usuarios[i].correo %>
    </p>
    <p class="card-text">
      <%= usuarios[i].password %>
    </p>
    <p class="card-text">
      <%= usuarios[i].fechaNacimiento %>
    </p>
    <a href="#" class="btn btn-primary">Mostrar Perfil</a>
  </div>
</div>
<% } %>
</div>


